
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
--custom-red: hsl(0, 100%, 74%); 
--custom-green: hsl(154, 59%, 51%);
--custom-blue: hsl(248, 32%, 49%);
--dark-blue: hsl(249, 10%, 26%); 
--grayish-blue: hsl(246, 25%, 77%);
}


*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
 
html, body {
    height: 100%;
    font-size: 16px;
}
 
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
 
input, button, textarea, select {
    font: inherit;
}
 
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    background-image: url('./images/bg-intro-mobile.png');
    background-repeat: repeat;
    background-color: var(--custom-red);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1.5rem;
    padding: 4rem 1rem;
}

.header {
    text-align: center;
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.description {
    text-align: center;
    margin-bottom: 2.5rem;
    padding: 0 1rem;
}

.offer-button {
    border-radius: 0.75rem;
    padding: 1rem 4rem;
    background-color: var(--custom-blue);
    text-align: center;
    color: white;
    border: none;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
}

.offer-button span {
    color: var(--grayish-blue);
}

.form {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-inputs {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    border: solid 1px var(--grayish-blue);
}

.free-trial {
    background-color: var(--custom-green);
    color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 0 0.2rem 0.1rem rgba(50, 200, 120, 1);
}

.terms {
    padding: 0 1rem;
    color: var(--grayish-blue);
    font-size: 0.8rem;
}

.terms span {
    color: var(--custom-red)
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
 